@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.react-colorful {
  width: 100% !important;
}






/* globals.css */

/* Keyframe for rotating the gradient */
@keyframes rotate-border {
  0% {
    box-shadow: 0px 0px 30px 10px rgba(61, 255, 176, 0.3);
  }

  50% {
    box-shadow: 0px 0px 30px 20px rgba(61, 255, 176, 1);
  }

  100% {
    box-shadow: 0px 0px 30px 10px rgba(61, 255, 176, 0.3);
  }
}

/* Class for the rotating gradient border */
.rotating-border {
  position: relative;
  border-radius: 12px;
  /* Adjust to match your box's border radius */
  /* Thickness of the border */
  animation: rotate-border 3s linear infinite;
}
